{% extends "templates/tut.html" %}
{% block questions %}

<li>
  <ol>
    <li>Use standard algorithms to read a list of newline-seperated words from a file (try
      /usr/share/dict/words or /usr/dict/words) into a vector (hint: see std::istream_iterator)
    </li>
    <li>Write a function that:
      <ol>
        <li>Takes in the word list and a string</li>
        <li>Uses standard algorithms to split the string into words, filtered to only words that are
          in the word dict, and reconstruct this into a string (hint: see std::istringstream,
          std::istream_iterator, std::copy_if, std::ostringstream, and std::ostream_iterator)
        </li>
      </ol>
    </li>
    <li>Discuss why separating your functions you want to test is a good idea</li>
    <li>Write some tests for your code.</li>
    <li>Assume now that the word list and strings are both very large. Discuss how we could make
      this code run much faster (hint: a different data structure may be required. Tutors, students
      should know the data type, but not what it is called in C++)
    </li>
    <li>Use the algorithms library to make your code run much faster</li>
    <li>Discuss the effect the use of the algorithms library had on the quantity of the tests you
      had to change, and the depth of the testing required.
    </li>
    <li>Discuss the effect the use of automatic type deduction (through the use of auto keyword, and
      by not having to declare types at all when calling functions) on the quantity of code you had
      to change, and the depth of the testing required.
    </li>
  </ol>
</li>
{% endblock %}
