{% extends "templates/tut.html" %}
{% block questions %}

<li>
  Are the following lines constructions or assignments?
  <ol>
    <li>
      <pre><code>std::vector&lt;int&gt; a(1, 2, 3)</code></pre>
      <div class="answer">
        Constructor (direct initilization). We prefer not to do this.
      </div>
    </li>
    <li>
      <pre><code>std::vector&lt;int&gt; a{1, 2, 3}</code></pre>
      <div class="answer">
        Constructor (uniform initilization)
      </div>
    </li>
    <li>
      <pre><code>std::vector&lt;int&gt; b = {1, 2, 3}</code></pre>
      <div class="answer">
        Constructor (uniform initilization)
      </div>
    </li>
    <li>
      <pre><code>std::vector&lt;int&gt; c = a</code></pre>
      <div class="answer">
        Constructor (copy construction)
      </div>
    </li>
    <li>
      <pre><code>c = b</code></pre>
      <div class="answer">
        Assignment (copy assignment)
      </div>
    </li>
    <li>
      <pre><code>a = std::move(c)</code></pre>
      <div class="answer">
        Assignment (move assignment)
      </div>
    </li>
    <li>
      <pre><code>std::vector&lt;int&gt; d{std::move(a)}</code></pre>
      <div class="answer">
        Constructor (move constructor)
      </div>
    </li>
  </ol>
</li>

<li>
  {{ include_code("questions/subscript.cpp") }}
  <p>Make this code const-correct so it can compile and run sucessfully</p>
  <p>In what cases would we need to overload an operator for its const or non-const version?</p>
  <div class="answer">
    {{ include_code("solutions/subscript.cpp") }}
  </div>
</li>

<li>
  Why is prefix increment/decrement usually preferred to postfix increment/decrement? When would we use postfix?
  <div class="answer">
    <ul>
      <li>Prefix is generally preferred (when no copy is needed) due to one less step (a copy and return) being completed. Therefore at scale this operation will yield finite performance improvements</li>
      <li>Postfix is used when you want to receive a copy of the object's current state prior to the increment/decrement occuring</li>
  </div>
</li>

<li>
  {{ include_code("questions/type.cpp") }}
  Modify this code to have a non-explicit type overload for a double that returns the length from the origin to the point's current coordinates.
  <div class="answer">
    {{ include_code("solutions/type.cpp") }}
  </div>
  
</li>

<li>
  Why do we use smart pointers instead of raw pointers whenever possible?
  <div class="answer">
    Smart pointers mean:
    <ul>
      <li>We do not have to worry about deleting our heap memory</li>
      <li>Move and copy semantics are handled for us</li>
    </ul>
  </div>
</li>

<li>
  What is an example of a circumstance a std::shared_ptr&lt;T&gt; would be preferred over a std::unique_ptr&lt;T&gt;?
  <div class="answer">
    In general, you can have it when either:
    <ul>
      <li>There is shared ownership (very rare, it's usually one owner and many observers).</li>
      <li>There is a single owner, but the observers may stick around longer than the owner.</li>
    </ul>
    When we have ownership loops (eg. a graph that isn't a dag), we have one of two options:
    <ul>
      <li>Preferred: have something like std::vector&lt;std::unique_ptr&lt;Node&gt;&gt;, and each node stores raw pointers to other nodes. This may not be possible if it's hard to find all the raw pointers and remove them when you delete the unique pointer.</li>
      <li>Otherwise: Have something like std::vector&lt;std::shared_ptr&lt;Node&gt;&gt;, and each node stores weak pointers to other nodes (DO NOT store shared pointers in each node - the nodes will never get removed)</li>
    </ul>
  </div>
</li>

<li>



{% endblock %}
