{% extends "templates/tut.html" %}
{% block questions %}

<li>
<ol>
  <li> <strong>Open tutorials/week3/car.(cpp/h) (you should have started on this last week):</strong></li>
  <li>Create a copy constructor, should the object count change?</li>
  <li>Create a move constructor, should the object count change?</li>
  <li>Create a copy assignment operator, should the object count change?</li>
  <li>Create a move assignment operator, should the object count change?</li>
  <li>What is the difference between a copy constructor, copy assignment operator, move constructor and move assignment operator?</li>
  <li>Run your code against //tutorials/week3:car_main<pre>
</pre>
  The output should be:
<pre>
2
3
4
5
5
5
</pre></li>
</ol>

</li>
{% endblock %}
